.promo {
    position: relative;
    margin-top: 10px;
    width: 100%;
    height: 700px;
    background: url('../../img/bg_main.png') no-repeat 50%/cover;
    
    &__wrapper {
        position: relative;
        height: 700px;
    }

    &__header {
        padding-top: 40px;
        display: grid;
        grid-template-columns: 120px 600px;
        justify-content: space-between;
        align-items: center;
        
    }
    &__logo {
        img {
            width: 100%;
        }
    }
    &__menu {
        display: flex;
        justify-content: flex-end;
    }
    &__list {
        list-style-type: none;
        margin-bottom: 0;
        li {
            display: inline;
            margin-right: 30px;
            font-size: 16px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 2;
            letter-spacing: normal;
            text-align: right;
            color: #ffffff;
            &:last-child {
                margin-right: 0;
            }
        }
        
    }
    &__title {
        margin-top: 140px;
        width: 500px;
    }
    &__subtitle {
        margin-top: 40px;
        width: 400px;
    }
    &__btn {
        margin-top: 40px;
    }
    &__descr {
        position: relative;
    }
    &__telephone {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    &__slider {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 65px;
        display: flex;
        width: 110px;
        justify-content: space-between;
    }
}